#fsNormal {
  font-style: normal;
}
 
#fsItalic {
  font-style: italic;
}
 
#fsOblique {
  font-style: oblique;
}
 
#fvNormal {
  font-variant: normal;
}
 
#fvSmallCaps {
  font-variant: small-caps;
}
 
#fwNormal {
  font-weight: normal;
}
 
#fwBold {
  font-weight: bold;
}
 
#fwBolder {
  font-weight: bolder;
}
 
#fwLighter {
  font-weight: lighter;
}
 
#fszMedium {
  font-size: medium;
}
 
#fszXXSmall {
  font-size: xx-small;
}
 
#fszSmall {
  font-size: small;
}
 
#fszXXLarge {
  font-size: xx-large;
}
 
#fszLarge {
  font-size: large;
}
 
#fszPrct {
  font-size: 200%;
}
 
#fsz25pt {
  font-size: 25pt;
}
 
#lhNormal {
  line-height: normal;
}
 
#lh25pt {
  line-height: 25pt;
}
 
#lh200prct {
  line-height: 200%;
}
 
#lh200Prct {
  line-height: 200%;
}